In [1]:
import sys

In [2]:
print(sys.executable)

/Users/work/.local/share/virtualenvs/ironhack-UuIfidyp/bin/python3.7

In [3]:
!/Users/work/.local/share/virtualenvs/ironhack-UuIfidyp/bin/python3.7

Python 3.7.5 (default, Nov  5 2019, 16:58:22)
[Clang 11.0.0 (clang-1100.0.33.8)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
>>>

In [4]:
import pandas as pd

In [5]:
?pd.DataFrame.apply

In [6]:
import numpy as np

In [7]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])

In [8]:
def range_func(x):
    return max(x) - min(x)

In [17]:
df.apply(range_func, axis=0, result_type='broadcast')

          a         b         c
0  2.390785  1.985645  2.335342
1  2.390785  1.985645  2.335342
2  2.390785  1.985645  2.335342
3  2.390785  1.985645  2.335342

In [19]:
# programmation fonctionnelle : chaîne de fonctions, chacune de ces fonctions est pure (pas de variables globales)

In [20]:
# programmation object : tout est objet

In [21]:
# filter()

In [22]:
add = lambda x: x+2

In [23]:
add(2)

4

In [32]:
ages = range(30)
majeurs = list(filter(lambda x: x >= 18, ages))
print(majeurs)

[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [33]:
majeurs = [a for a in ages if a >= 18]

In [34]:
majeurs

[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [35]:
#lisp

In [36]:
#map()

In [37]:
texts = ['this is a test.', 'this is another test', 'etc.']

In [40]:
list(map(lambda x: x.upper(), texts))

['THIS IS A TEST.', 'THIS IS ANOTHER TEST', 'ETC.']

In [41]:
def upper_jm(x):
    return x.upper()

In [42]:
list(map(upper_jm, texts))

['THIS IS A TEST.', 'THIS IS ANOTHER TEST', 'ETC.']

In [43]:
print([x.upper() for x in texts])

['THIS IS A TEST.', 'THIS IS ANOTHER TEST', 'ETC.']

In [44]:
#cast : changer une variable d'un type à un autre (par exemple, string => integer)

In [45]:
h, m, s = list(map(int, '8:19:22'.split(':')))

In [46]:
h, m, s

(8, 19, 22)

In [48]:
[int(i) for i in '8:19:22'.split(':')]

[8, 19, 22]

In [49]:
#functools.reduce (func, lst)

In [50]:
add = lambda a, b: a + b

In [52]:
from functools import reduce

In [53]:
reduce(add, range(10))

45

In [54]:
max_jm = lambda a, b: max(a, b)

In [55]:
reduce(max_jm, range(10))

9

In [56]:
add = lambda a, b: a + 2 * b

In [57]:
reduce(add, range(10))

90

In [58]:
df = pd.DataFrame(np.random.randn(5, 7), columns=list('ABCDEFG'))

In [59]:
df

          A         B         C         D         E         F         G
0  0.836624 -1.220008  0.790898  0.054204 -0.592025 -0.065621  0.953143
1 -0.132057 -0.257181 -0.570180  0.552067  0.914332 -1.616054  0.875730
2 -1.327502 -0.162820 -1.694126 -1.412559 -1.007909 -0.282900 -0.724019
3  0.685962 -0.297998 -0.285910  1.284189 -0.552303  0.623803 -1.185199
4  0.896530 -0.761868 -0.444475 -1.836623  0.621648  0.326922  1.638405

In [60]:
?df.apply

In [77]:
df[['A', 'B', 'C']] = df[['A', 'B', 'C']].apply(lambda x: x*2, axis=0)

In [78]:
df

          A         B         C         D         E         F         G
0  1.673248 -2.440015  1.581795  0.054204 -0.592025 -0.065621  0.953143
1 -0.264113 -0.514362 -1.140360  0.552067  0.914332 -1.616054  0.875730
2 -2.655004 -0.325640 -3.388252 -1.412559 -1.007909 -0.282900 -0.724019
3  1.371924 -0.595996 -0.571819  1.284189 -0.552303  0.623803 -1.185199
4  1.793060 -1.523735 -0.888949 -1.836623  0.621648  0.326922  1.638405

In [69]:
df.apply(lambda x: max(x) - min(x), axis=1)

0    2.173151
1    2.530387
2    1.531306
3    2.469388
4    3.475028
dtype: float64

In [65]:
df * 2

          A         B         C         D         E         F         G
0  1.673248 -2.440015  1.581795  0.108409 -1.184051 -0.131242  1.906287
1 -0.264113 -0.514362 -1.140360  1.104134  1.828665 -3.232109  1.751460
2 -2.655004 -0.325640 -3.388252 -2.825119 -2.015819 -0.565799 -1.448038
3  1.371924 -0.595996 -0.571819  2.568377 -1.104607  1.247606 -2.370398
4  1.793060 -1.523735 -0.888949 -3.673247  1.243296  0.653844  3.276809

In [85]:
s = pd.Series([1,2,3,4])
a = np.array([1,2,3,4])

In [101]:
np.sqrt(np.sum((a - np.mean(a))**2)/(a.shape[0] - 1))

1.2909944487358056

In [102]:
l = [['a'], ['bvc']]

In [103]:
[str(x) for x in l]

["['a']", "['bvc']"]

In [ ]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    return